/* <div class="hedbox hed1">
        
<h3>MENU</h3>
<div class="Menu_UI">
  <br>
  <ul>
    <li>Advertise</li>
    <li>Education</li>
    <li>Merch</li>
    <li>Team</li>
    <li>For</li>
    <li>Web:PRO</li>
  </ul>
</div>
</div> */


.hed1 h3 {
  color:var(--color_text1);
  margin-top: 0;
  font-size: 50px;
  color: rgb(45, 136, 255);
  margin-right: 10px;
}
  /* color: rgb(255, 91, 91); */



.Menu_UI {
    width: 200px;
    background-color: var(--color_box1);
    padding: 10px;
    border-radius: 5px;
  }
  
  .Menu_UI ul {
    font-size: 40px;
    color:var(--color_text1);
    list-style-type: none;
    padding: 0;
  }
  
  .Menu_UI ul li {
    padding: 5px 0;
    cursor: pointer;
  }
  
  .Menu_UI ul li:hover {
    background-color: var(--color_box2);
    color:var(--color_text2);
    font-size: 50px;
  }