
:root {

  --color_background1:rgba(255, 255, 255, 0.6);
  /* background-color: var(--color_background1); */
  --color_background2:rgba(0, 0, 0, 0.6);
  /* background-color: var(--color_background2); */
  --color_box1:rgba(255, 255, 255, 0.8);
  /* background-color: var(--color_box1) */
  --color_box2:rgba(0, 0, 0, 0.8);
  /* background-color: var(--color_box2) */
  --color_text1:rgba(0, 0, 0, 0.8);
  /* color:var(--color_text1); */
  --color_text2:rgba(255, 255, 255, 0.8);
  /* color:var(--color_text1); */

  /* --img_gradient1:linear-gradient(to bottom left,blue, red);   */
  --max_width: 100%;
  /* var(--max_width)  */
  --min_width: 960px;
  /* 
  min-width: var(--min_width); 
  */
  }


/* 측면 스크롤 막아야됨 */
* {
  transition: all 0.5s;
  font-family: "Ubuntu Sans", Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: linear-gradient(to bottom left,blue, red);      
  margin: 0;
  padding: 0;
  font-weight: 400;
}

#wrap {
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  align-content: center;
  min-width: var(--min_width); 
}
div.bottom{
  display: flex;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    height: 400px;
    width: var(--max_width);
    background: linear-gradient(to top left,gray, black);    
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    color:var(--color_text2);
  }
/* 반투명 상단바 */
